<div class="current-games">
  <h3>Current NFL Games</h3>
  <ul class="list-group">
    <li class="games list-group-item list-group-item-action" *ngFor="let game of games" (click)="onSelect(game)">
      {{ game.home }} vs {{ game.away }}
    </li>
  </ul>
</div>

<!--<div class="completed-games">
  <h3>Completed NFL Games</h3>
  <ul class="list-group">
    <li class="games list-group-item list-group-item-action" *ngFor="let game of completedGames" (click)="onSelect(game)">
      {{ game.home }} vs {{ game.away }}
    </li>
  </ul>
</div>-->
