<div *ngIf="game" class="score">
  <!--<img width="75px" src="http://logo.clearbit.com/{{ game.awayLogoUrl }}.com">
  <h1>{{ game.away_team.market }} {{ game.away_team.name }} {{ game.away_team.points }}</h1>-->
  <!--<img width="75px" src="http://logo.clearbit.com/{{ game.homeLogoUrl }}.com">
  <h1>{{ game.home_team.market }} {{ game.home_team.name }} {{ game.home_team.points }}</h1>-->
  <!--</div>-->

  <div class="media">
    <a class="media-left" href="#">
      <img width="75px" class="media-object" src="http://logo.clearbit.com/{{ game.awayLogoUrl }}.com" alt="Generic placeholder image">
    </a>
    <div class="media-body">
      <h1 class="media-heading">{{ game.away_team.market }} {{ game.away_team.name }} {{ game.away_team.points }}</h1>
    </div>
  </div>

  <div class="media">
    <a class="media-left" href="#">
      <img width="75px" class="media-object" src="http://logo.clearbit.com/{{ game.homeLogoUrl }}.com" alt="Generic placeholder image">
    </a>
    <div class="media-body">
      <h1 class="media-heading">{{ game.home_team.market }} {{ game.home_team.name }} {{ game.home_team.points }}</h1>
    </div>
  </div>
</div>
<div class="time">
  <div *ngIf="gametime">
    <h4>Time Left: {{ gametime.clock }}</h4>
    <h4>Quarter: {{ gametime.quarter }}</h4>
  </div>

  <div *ngIf="final">
    <h4>FINAL</h4>
  </div>

  <div *ngIf="halftime">
    <h4>HALFTIME</h4>
  </div>
</div>
