<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">I betcha...</h4>
      </div>
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="condition">Conditions</label>
            <textarea [(ngModel)]="f.condition" name="condition" class="form-control" id="conditions" rows="3" placeholder="Russell Wilson will rush for more yards than the Dolphins..."></textarea>
          </div>

          <div class="form-group">
            <label for="terms">Terms</label>
            <textarea [(ngModel)]="f.terms" name="terms" class="form-control" id="terms" rows="3" placeholder="Non-winner has to wash the dishes for the week..."></textarea>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Opponent</label>
            <input [(ngModel)]="f.opponentEmail" name="opponentEmail" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">CHALLENGE</button>
        </div>
      </form>
    </div>
  </div>
</div>
