<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">I betcha...</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="conditions">Conditions</label>
            <textarea class="form-control" id="conditions" rows="3" placeholder="Russell Wilson will rush for more yards than the Dolphins..."></textarea>
          </div>

          <div class="form-group">
            <label for="terms">Terms</label>
            <textarea class="form-control" id="terms" rows="3" placeholder="Non-winner has to wash the dishes for the week..."></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="sendChallenge()">CHALLENGE</button>
      </div>
    </div>
  </div>
</div>
